<div class="login-wrapper">
  <h3 class="login-form-title">LOGIN</h3>
  <form class="login-form" [formGroup]="loginForm">
    <div *ngFor="let control of LOGIN_FIELDS">
      <label>
        <span class="form-label">{{control.name | titlecase}}</span>
        <input [type]="getType(control)" class="form-input" [formControlName]="control.name" required>
      </label>
      <div
        *ngIf="loginForm.get(control.name)?.invalid &&
        (loginForm.get(control.name)?.dirty || loginForm.get(control.name)?.touched)">
        <p class="form-error" *ngIf="loginForm.get(control.name)?.errors">
          {{getErrorMessage(control)}}
        </p>
      </div>
    </div>
    <div class="actions-wrapper">
      <button
        class="login-button"
        type="button"
        [disabled]="!loginForm.valid"
        (click)="login()">
        LOGIN
      </button>
    </div>
  </form>
  <div class="login-footer">
    <span>Don't have an account? <a href="#" class="form-link">Register now</a></span>
  </div>
</div>
