<app-form-container formTitle="LOGIN PASSWORD">
  <form class="login-form" [formGroup]="form">
    <div *ngFor="let control of FIELDS">
      <label>
        <span class="form-label">{{control.display || control.name | titlecase}}</span>
        <input [type]="getType(control)" class="form-input" [formControlName]="control.name">
        <a *ngIf="(control.name | lowercase) === 'password'" href="#" class="form-link forgot-link">Forgot password?</a>
      </label>
      <div
        *ngIf="form.get(control.name)?.invalid &&
        (form.get(control.name)?.dirty || form.get(control.name)?.touched)">
        <p class="form-error" *ngIf="form.get(control.name)?.errors">
          {{getErrorMessage(control, form)}}
        </p>
      </div>
    </div>
    <div class="actions-wrapper">
      <button
        class="login-button"
        type="button"
        (click)="submit()">
        LOGIN
      </button>
    </div>
  </form>
  <div class="login-footer">
    <span>Don't have an account? <a href="#" class="form-link">Register now</a></span>
  </div>
</app-form-container>
