@import "./colors";

.form-label {
  display: block;
  margin-top: 2rem;
}

.form-input {
  background-color: $grey-light;
  border: 1px solid $grey-dark;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  padding: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}

.form-error {
  color: $warn;
  margin: 0.5rem 0;
}

.actions-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .reset-button {
    background-color: $primary;
    border: none;
    color: $white;
    height: 40px;
    padding: 0.5rem;
    width: 100%;
  }

  .reset-button:hover {
    background-color: $secondary-dark;
    cursor: pointer;
  }
}

.reset-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem
}

.form-link {
  color: $primary;
  text-decoration: none;
}

.form-link:hover {
  text-decoration: underline;
}

.forgot-link {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

