<app-form-container formTitle="RESET PASSWORD">
  <form class="reset-form" [formGroup]="form">
    <div *ngFor="let control of fields">
      <label>
        <span class="form-label">{{control.display || control.name | titlecase}}</span>
        <input [type]="getType(control)" class="form-input" [formControlName]="control.name">
      </label>
      <div
        *ngIf="form.get(control.name)?.invalid &&
        (form.get(control.name)?.dirty || form.get(control.name)?.touched)">
        <p class="form-error" *ngIf="form.get(control.name)?.errors">
          {{getErrorMessage(control, form)}}
        </p>
      </div>
    </div>
    <div class="actions-wrapper">
      <button
        class="reset-button"
        type="button"
        (click)="submit()">
        RESET PASSWORD
      </button>
    </div>
  </form>
</app-form-container>
